<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livestream application</title>
</head>

<body>
    <section>
        <button id="btnLives">Start a new livestream</button>
        <input type="text" id="txtRoomId" />
        <button id="btnViews">Join a livestream</button>
    </section>
    <section>
        <span id="room-id"></span>
        <iframe src="" frameborder="0" id="ifrLivestream" style="width: 100vw; height: 70vh;"></iframe>
    </section>
    <section>
        <select id="sltCamera"></select>
        <select id="sltMic"></select>
        <button id="btnDisableCamera">disable camera</button>
        <button id="btnEnableCamera">enable camera</button>
        <button id="btnMuteMic">mute</button>
        <button id="btnUnmuteMic">unmute</button>
        <button id="btnEnd">End</button>
    </section>

    <script>
        const iframe = document.getElementById('ifrLivestream');
        const baseURL = 'http://localhost:3107';

        document.querySelector("#btnLives").addEventListener("click", function (e) {
            const requestOptions = {
                method: "POST",
                redirect: "follow"
            };

            fetch(baseURL + '/api/lives', requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    let { id, hostlink, viewlink } = result;
                    document.querySelector('#ifrLivestream').setAttribute('src', hostlink);
                    document.querySelector('#room-id').innerText = "Room ID: " + id;
                })
                .catch((error) => console.error(error));
        });

        document.querySelector("#btnViews").addEventListener("click", function (e) {
            let roomId = document.querySelector("#txtRoomId").value;
            if (roomId === "") {
                alert("Please enter the room id");
                return;
            }
            const requestOptions = {
                method: "GET"
            };
            fetch(baseURL + '/api/lives/' + roomId, requestOptions)
                .then((response) => response.json())
                .then((result) => {
                    let { id, hostlink, viewlink } = result;
                    document.querySelector('#ifrLivestream').setAttribute('src', viewlink);
                    document.querySelector('#room-id').innerText = "Room ID: " + id;
                })
                .catch((error) => console.error(error));
        });

        navigator.mediaDevices.enumerateDevices()
            .then(devices => {
                devices.forEach(device => {
                    console.log(`${device.kind}: ${device.label} (ID: ${device.deviceId})`);
                    if (device.kind === 'videoinput') {
                        document.querySelector('#sltCamera').appendChild(new Option(device.label, device.label));
                    } else if (device.kind === 'audioinput') {
                        document.querySelector('#sltMic').appendChild(new Option(device.label, device.label));
                    }
                });
            })
            .catch(err => {
                console.error("Error accessing media devices:", err);
            });

        document.querySelector("#btnDisableCamera").addEventListener("click", function (event) {
            iframe.contentWindow.postMessage({ name: 'disableCamera', payload: null }, '*');
        });

        document.querySelector("#btnEnableCamera").addEventListener("click", function (event) {
            iframe.contentWindow.postMessage({ name: 'enableCamera', payload: null }, '*');
        });

        document.querySelector("#btnMuteMic").addEventListener("click", function (event) {
            iframe.contentWindow.postMessage({ name: 'muteMic', payload: null }, '*');
        });

        document.querySelector("#btnUnmuteMic").addEventListener("click", function (event) {
            iframe.contentWindow.postMessage({ name: 'unmuteMic', payload: null }, '*');
        });

        document.querySelector("#sltCamera").addEventListener("change", function (event) {
            let payload = {
                deviceLabel: event.target.value
            };
            iframe.contentWindow.postMessage({ name: 'switchCamera', payload }, '*');
        });

        document.querySelector("#btnEnd").addEventListener("click", function (event) {
            iframe.contentWindow.postMessage({ name: 'end', payload: null }, '*');
        });
    </script>
</body>

</html>